@import url("./main.css");

body {
  background-color: #f4e4c3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 200 200'%3E%3Cpolygon fill='%2335A668' fill-opacity='0.5' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

nav,
.logo-container:hover {
  background-color: var(--pal-beige);
}

.logo-container,
.navbar .nav-link.active,
.nav-button:hover {
  color: var(--pal-beige);
}

nav,
.nav-button {
  border-color: var(--pal-green);
}

.nav-title,
.nav-button,
.logo-container:hover {
  color: var(--pal-green);
}

.logo-container,
.navbar .nav-link.active,
.nav-button:hover {
  background-color: var(--pal-green);
}

.navbar .navbar-toggler {
    border-color: var(--pal-green); /* Your custom color */
}

/* Optional: Change the border color when clicked/focused */
.navbar .navbar-toggler:focus {
    box-shadow: 0 0 0 0.35rem var(--pal-green); /* Matches the border */
}

.battle-title {
  border: 10px solid var(--pal-green);
  color: var(--pal-green);
  background-color: var(--pal-beige);
}

.shape {
  width: 100px;
  height: 100px;
  fill: transparent;
  stroke: black;
  stroke-width: 2;
}

.shape-card {
  border: 10px solid var(--pal-green);
  background-color: var(--pal-half-beige);
}

.dropdown {
  border: 10px solid var(--pal-green);
  background-color: var(--pal-half-beige);
}

.dropdown:hover {
  background-color: var(--pal-half-green);
}

.dropdown-toggle {
  border: none;
  width: 100%;
}

.dropdown-menu {
  width: 109%;
  border-radius: 0px;
  border: 10px solid var(--pal-green);
  background-color: var(--pal-beige);
}

.dropdown-item:hover{
background-color: var(--pal-half-green);
}

.opponent-box {
  height: 72%;
  border: 10px solid var(--pal-green);
  color: var(--pal-green);
  background-color: var(--pal-beige);
}

.opponent-box span {
  font-size: clamp(10rem, 2.5vw, 10.5rem);
}

.fight-btn {
  background-color: var(--pal-green);
  border-radius: 0px;
  color: var(--pal-beige);
}

.fight-btn:hover {
  color: var(--pal-green);
  background-color: var(--pal-beige);
}